body {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    font-family: Roboto, Sans-serif;
    color: #666;
    font-weight: 300;
}

a {
    text-decoration:none;
    color: inherit;
}

h2 {
    font-weight: 100;
    font-size: 2.5em;
}

h3 {
    font-weight: 100;
}

input {    
    font-family: Roboto, Sans-serif;
}

ul {
    padding: 0;
}

#menu-container {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 1210px;
    background: #f8f8f8;
    z-index: 10;
    height: 90px;
}

#menu-container li {
    display: inline-block;
    width: 17%;
    font-family: Kreon;
    font-size: 2.3em;
    color: #000;
    font-weight: 400;
}

#logo {
    display: inline-block;
    width: 120px;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#menu-filler {
    padding-top: 90px;
}

.menu-height-filler {
    padding-top: 90px;
    margin-top: -90px;
}

/*Header*/

#header {
    height: 595px;
    background: url("../../images/header.jpg") no-repeat center;
}

#title {
    display: inline-block;
    color: #fff;
    background: #000;
    margin-top: 200px;
    width: 100%;
    font-weight: 100;
    font-size: 4em;
}

#booking-button-1 {
    display: block;
    color: #fff;
    background: rgba(0,0,0,0.8);
    border: 1px solid #fff;
    border-radius: 4px;
    width: 200px;
    padding: 17px;
    margin: 0 auto;
}

.simple-section {
    padding: 2% 10% 5%;
}

#cuisine-container {
    
    padding: 6% 10%;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    background: url("../../images/small1.jpg") fixed no-repeat bottom;
    background-size: cover;
}

/*Our Menu*/

#our-menu-container {
    background: #433;
    color: #fff;
    padding: 5% 10%;
    overflow: auto;
}

#our-menu-container p {
    color: #c9c9c9;
    text-align: justify;
}

#our-menu-text-container {
    width: 28%;
    float: left;
}

#our-menu-items-container {
    width: 70%;
    float: right;
}

#our-menu-text-container a {
    display: block;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 180px;
    padding: 17px 17px;
    margin: 0 auto;
}

#appetizers-button {
    background: #365529;
}

.menu-item {
    position: relative;
    width: 45%;
    display: block;
    margin: 5% 2%;
    float: left;
}

.menu-item div {
    position: absolute;
    display: inline-block;
    background: rgba(0,0,0,0.8);
    left: 0;
    right: 0;
    bottom: 20%;
    padding: 3% 6% 6%;
    text-align: left;
}

.menu-item div a {
    border-bottom: 1px dotted;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

/*Events*/

#events-container {
    background: #433;
    padding: 4% 8% 6%;
    overflow: auto;
    color: #fff;
}

#upcoming-events-container div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#events-container div>h3 {
    font-size: 1.6em;
    color: #c9c9c9;
}

.upcoming-event {
    width: calc(33% - 20px);
    display: block;
    padding: 20px 10px;
}

.upcoming-event p {
    color: #c9c9c9;
}

.upcoming-event a {   
    color: #fff;
}

.upcoming-event p a {
    border-bottom: 1px dotted;
}    

.upcoming-event span {    
    width: 155px;     
    height: 155px;
    border: 1px solid #c9c9c9;
}

.upcoming-event h3 {
    font-size: 1.8em;
    margin-bottom: 5px;
}

.upcoming-event h2 {
    font-size: 1.0em;
    margin-top: 5px;
}

#upcoming-event-1 {
    background: url("../../images/cooking.jpg") no-repeat;
}

#upcoming-event-2 {
    background: url("../../images/2.jpg") no-repeat;
}

#upcoming-event-3 {
    background: url("../../images/3.png") no-repeat;
}

#past-events-container {
    clear: both;
    padding-top: 1%;
}

#past-events-container div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.past-event {
    width: 20%;
    min-width: 215px;
}

.past-event span {
    width: 77px;
    height: 77px;
    border: 1px solid #c9c9c9;
}

.past-event h3 {
    font-size: 1.8em;
    margin-bottom: 2%;
}
.past-event h2 {
    font-size: 1.0em;
    margin-top: 2%;
}

#past-event-1 {
    background: url("../../images/4.jpg") no-repeat;
}

#past-event-2 {
    background: url("../../images/2.jpg") no-repeat;
}

#past-event-3 {
    background: url("../../images/3.png") no-repeat;
}

#past-event-4 {
    background: url("../../images/cooking.jpg") no-repeat;
}

#see-more-button-container {
    clear: both;
    padding-top: 60px;
}

#see-more-button {
    display: block;
    background: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 160px;
    padding: 17px;
    margin: 0 auto;
}

/*Contact us*/

#contact-us-container {
	margin: 5%;
}

#contact-form-container {
    overflow: auto;
    margin-bottom: 60px;
}

#contact-form {
	width: 60%;
	margin: auto;
	align-content: center;
	padding-top: 10px;
}

.flex-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-input div {
    width: 50%;
    min-width: 200px;
}

#contact-name-mail div input {
    width: calc(100% - 32px);
    margin: 5px;
    padding: 10px 10px;
    background-color: #f8f8f8;
    color: #888;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

#contact-message {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#contact-message textarea {
    background-color: #f8f8f8;
    display: block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin: 5px;
    padding: 10px 10px;
    padding-bottom: 40%;
    color: #888;
    width: calc(100% - 32px);
}

#contact-submit-clear {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#contact-submit-clear li {
    width: 200px;
    margin: 5px;
    display: inline;
}

#contact-submit-clear input {
    width: 100%;
    padding: 17px;
	border-radius: 4px;
}

#contact-submit-button input {
    background: #3d3d3d;
    color: #fff;
    border: 1px solid #3d3d3d;
}

#contact-clear-button input {
    background: #fff;
    color: #888;
    border: 1px solid #e6e6e6;
}

/*Book a table*/

#booking-container { 
    background: url("../../images/book-table.jpg") fixed no-repeat bottom;
    background-size: cover;
}

#booking-form {
    display: block;
    background: rgba(0,0,0,0.5);
    width: 40%;
    margin: 0 auto;
    padding: 1%;
}

#booking-form h2 {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    margin: 2%;
}

#booking-form .flex-input input {
    width: calc(100% - 30px);
    margin: 5px;
    padding: 10px 10px;
    background: #f8f8f8;
    border: 0px;
    border-radius: 4px;
}

#booking-message {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#booking-message textarea {
    background: #f8f8f8;
    display: block;
    border: 0px;
    border-radius: 4px;
    margin: 5px;
    padding: 10px 10px;
    padding-bottom: 40%;
    width: calc(100% - 30px);
}

#booking-button-2 {
    display: block;
    color: #fff;
    background: #3d3d3d;
    border: 0px;
    border-radius: 4px;
    width: 120px;
    padding: 15px;
    margin: 10px auto;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Roboto, Sans-serif;   
}

::-moz-placeholder { /* Firefox 19+ */
    font-family: Roboto, Sans-serif;
}

:-ms-input-placeholder { /* IE 10+ */
    font-family: Roboto, Sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: Roboto, Sans-serif;
}

/*Opening hours - Contacts*/

#opening-hours-contact-address-container {
    background: #f8f8f8;
    color: #888;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding-top: 8%;
}

#opening-hours-contact-address-container div {
    min-width: 300px;
    width: 25%;
    margin: 0% 5%;
}

/*Copyright*/

#copyright-container {
    padding: 10% 10% 20%;
    background: #f8f8f8;
    color: #aaa;
}

#copyright-container ul {
    margin: 0 auto;
}

#copyright-container ul li {
    display: inline;
    padding: 0px 5px;
}

#copyright-container ul li:first-of-type {
    border-right: 1px solid #e6e6e6;
}

@media screen and (max-width: 1023px) {
    #menu-container {
        height: 70px;
    }

    #menu-container li {
        font-size: 2.3em;
    }

    #logo {
        width: 92px;
        bottom: -39px;
    }

    #menu-filler {
        padding-top: 70px;
    }

    .menu-height-filler {
        padding-top: 70px;
        margin-top: -70px;
    }
    
    #our-menu-text-container {
        width: 100%;
        margin-bottom: 5%;
    }
    
    #our-menu-container p {
        text-align: center;
    }
    #our-menu-text-container div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #our-menu-text-container div a {
        width: calc(25% - 36px);
    }

    #our-menu-items-container {
        width: 100%;
    }

    #our-menu-images-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .menu-item{
        width: 40%;
        min-width: 282px;
        margin: 2%;
    }

    #events-container {
        background-color: #433;
        padding: 4% 120px;
        overflow: auto;
        color: #fff;
    }

    #upcoming-events-container div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    .upcoming-event {
        min-width: 235px;
    }
    
    #past-events-container {
        margin: auto;
        width: 100%;
    }
    
    #booking-form {
        width: 55%;
    }
}

@media screen and (max-width: 767px)
{
    #menu-container {
        height: 60px;
    }

    #menu-container li {
        font-size: 1.8em;
    }

    #logo {
        width: 79px;
        bottom: -33px;
    }

    #menu-filler {
        padding-top: 60px;
    }

    .menu-height-filler {
        padding-top: 60px;
        margin-top: -60px;
    }
    
    #our-menu-text-container div a {
        width: calc(50% - 36px);
    }
    
    .menu-item{
        width: 80%;
    }
    
    .flex-input div {
        width: 100%;
    }
    
    #booking-form {
        width: 70%;
    }
} 

@media screen and (max-width: 479px)
{
    body {
        min-width: 320px;
    }
    
    #menu-container {
        height: 50px;
    }

    #menu-container li {
        font-size: 1.2em;
    }
    
    #header {
        height: 520px;
    }

    #logo {
        width: 66px;
        bottom: -27px;
    }

    #menu-filler {
        padding-top: 50px;
    }
    
    .menu-height-filler {
        padding-top: 50px;
        margin-top: -50px;
    }
    
    #title {
        font-size: 3em;
    }
    
    .menu-item{
        width: 100%;
        min-width: 0;
    }
    
    #events-container {
        padding: 4% 1%;
    }
    
    #contact-form {
        width: 100%;
    }
    
    #booking-form {
        width: 95%;
    }
} 
